<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".SecondActivity2"></activity>
        <activity android:name=".SecondActivity3"></activity>
        <activity android:name=".SecondActivity4"></activity>
        <activity android:name=".SecondActivity5"></activity>
        <activity android:name=".SecondActivity6"></activity>
        <activity android:name=".SecondActivity7"></activity>
        <activity android:name=".SecondActivity8"></activity>
        <activity android:name=".SecondActivity9"></activity>
        <activity android:name=".SecondActivity10"></activity>
        <activity android:name=".SecondActivity11"></activity>
        <activity android:name=".SecondActivity12"></activity>
        <activity android:name=".SecondActivity13"></activity>
        <activity android:name=".SecondActivity14"></activity>
        <activity android:name=".SecondActivity15"></activity>
        <activity android:name=".SecondActivity16"></activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCd-U5diUyidnM_R6TknAUBcQQsspYk0nU"/>

    </application>

</manifest>